/* Fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: url('../assets/fondo.png') no-repeat center center fixed;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
flex-direction: column;
  overflow-x: hidden;
}


.login-container {
  width: 100%;
  max-width: 420px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.92);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
  text-align: center;
}


input, select {
  display: block;
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #4c2882;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
  transition: background 0.3s ease;
}

button:hover {
  background: #381f68;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table td, table th {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: left;
}

h1, h2, h3 {
  margin-top: 0;
}

img {
  border-radius: 8px;
  max-width: 100%;
}
